
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

body{
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 0px 0px 5px 5px #888888;
}

p{
    font-size: 12px;
    line-height: 20px;
}

.headerBar1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: #0E0E0E;
}

.titrePrincipal{
    letter-spacing: 5px;
    font-size: 32px;
}

.headerBar1 p{
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    margin-top: 5px;
}

.navbar{
    display: flex;
    margin-right: 20px;
}

.headerBar2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: rgb(70, 65, 80);
}

.headerBar2 img{
    width: 120px;
}

h2{
    font-size: 48px;
    color: white;
}

h3{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    font-weight: normal;
}

.navitem{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.navitem img{
    width: 50px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.navitem img:hover{
    border: white 2px solid;
    border-radius: 50%;
    padding: 2px;
}

.logoHeader{
    margin-left: 20px;
}

.eclosion-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-eclosion{
    display:flex;
    width: 100%;
}

.h2-eclosion{
    display: flex;
    background-color: rgb(70, 65, 80);
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.h2-eclosion:hover{
    background-color:rgb(103, 95, 117);
}

.h2-eclosion h2{
    font-size: 30px;
    padding: 10px;
    font-weight: normal;
}

.text-eclosion{
    flex: 65%;
    margin-left: 150px;
}

.text-eclosion p{
    margin-right: 100px;
    margin-bottom: 20px;
}

.img-eclosion{
    flex: 1;
    margin-left: 50px;
    margin-bottom: 20px;
}

.img-eclosion img{
    width: 150px;
}

.eclosion-img-section{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(172, 172, 172);
}

.eclosion-img-section div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eclosion-img-section div>img{
    width: 50px;
}

.eclosion-img-section div p{
    color: black;
    font-size: 10px;
    margin-top: 10px;
}

.footer-section{
    display: flex;
    background-color: #0E0E0E;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.footer-section img{
    width: 50px;
}

.packs-div{
    display: flex;
    flex-direction: column;
}

.packs-titre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.packs-img{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.packs-img img:hover, .outils-img img:hover, .socialM-img img:hover{
    border: white 2px solid;
    border-radius: 50%;
    padding: 2px;

}


.outils-div{
    display: flex;
    flex-direction: column;
}

.outils-titre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.outils-img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;


}
.socialM-div{
    display: flex;
    flex-direction: column;
}

.socialM-titre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.socialM-img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.div-footer{
    display: flex;
}

.evolution-img-section{
    display: flex;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(172, 172, 172);
    flex-wrap: wrap;
}

.evolution-img-section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 25%;
}

.evolution-img-section div>img{
    width: 50px;
}

.evolution-img-section div p{
    color: black;
    font-size: 10px;
    margin-top: 10px;
}

footer h4{
    color: white;
    font-size: 14px;
}

h3{
    letter-spacing: 5px;
}
